<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNYEMrx9oLJ2CFdv52OSGqvXZ1k3Luwrg"></script>

    <style>
		html {
			height: 100%;
		}
		body {
			height:100%;
			margin:0;
			padding:0;
		}
		#googleMap {
			min-width: 100%;
			min-height: 100%;
		}







    </style>
</head>
</head>
<body>
<script type="text/javascript">
			var mapOptions = {
				center: {lat: 51.5074, lng: 0.1278},
				zoom: 11
			};

			var generic_image = new google.maps.MarkerImage(
			    "static/cartoon.png",
			    null, /* size is determined at runtime */
			    null, /* origin is 0,0 */
			    null, /* anchor is bottom center of the scaled image */
				new google.maps.Size(40, 60));

			var map;

			function initialize() {
				map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
			}

			function loadMarker() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/grids?numGrids=30&area=London", true);
				xhr.onreadystatechange = function () {
					if(xhr.readyState == 4 && xhr.status == 200) {
						var grids = JSON.parse(xhr.responseText);

						for (var i = 0; i< grids.length; i++){

                            var bb = grids[i].boundingBox;


						    var lat1 = bb.northWest.latitude;
						    var lng1 = bb.northWest.longitude;
						    var lat2 = bb.northEast.latitude;
						    var lng2 = bb.northEast.longitude;
						    var lat3 = bb.southEast.latitude;
						    var lng3 = bb.southEast.longitude;
						    var lat4 = bb.southWest.latitude;
						    var lng4 = bb.southWest.longitude;

						    var boxCoords = [
                                {lat: lat1, lng: lng1},
                                {lat: lat2, lng: lng2},
                                {lat: lat3, lng: lng3},
                                {lat: lat4, lng: lng4},
                                {lat: lat1, lng: lng1}
                            ];

                            var oneBox = new google.maps.Polyline({
                            path: boxCoords,
                            geodesic: true,
                            strokeColor: '#000000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                            });

                            oneBox.setMap(map);
						}
					}
				}
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.send("")
			}

			google.maps.event.addDomListener(window, 'load', initialize)






</script>
<button type="button" onclick="loadMarker()">Update</button>
<div id="googleMap"></div>
</body>
</html>