<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNYEMrx9oLJ2CFdv52OSGqvXZ1k3Luwrg"></script>

    <style>
		html {
			height: 100%;
		}
		body {
			height:100%;
			margin:0;
			padding:0;
		}
		#googleMap {
			min-width: 100%;
			min-height: 100%;
		}


    </style>
</head>
</head>
<body>

<button type="button" onclick="initialize()">Reset</button>
<button type="button" onclick="loadTripDataAndDraw()">Load Trips</button>
<button type="button" onclick="loadGrids()">Load Grids</button>
<button type="button" onclick="redrawTrips()">Redraw Trips</button>
<button type="button" onclick="bundleEdges()">Bundle Edges</button>

<label for="gridSizeSelector"> Grid size Node Bundling</label>
<select id="gridSizeSelector">
    <option>2</option>
    <option>3</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    <option>50</option>
</select>

<label for="gridSizeEdgeBundling">Grid size for edgeBundling</label>
<input type="text" id="gridSizeEdgeBundling" maxlength="3" value="3">

<label for="angulardifferenceThreshold">Angular Difference Threshold</label>
<input type="text" id="angulardifferenceThreshold" maxlength="3" value="15">

<label for="lineWidth"> Line width divider(number of lines / this val)</label>
<input type="text" id="lineWidth" maxlength="3" value="600">

<label for="areaSelector"> Area</label>
<select id="areaSelector">
    <option>London</option>
    <option>Cardiff</option>
</select>

<label for="sourceSelector"> Source</label>
<select id="sourceSelector">
    <option>All</option>
    <option>Twitter</option>
    <option>Flickr</option>
</select>

<input type="checkbox" id="checkBoxOption" value="true" checked> Aggregate nodes

<input type="checkbox" id="drawTriangulationLabels" value="true"> Draw Triangulation Labels
<input type="checkbox" id="drawTriangulationRegions" value="true"> Draw Triangulation Regions
<input type="checkbox" id="drawConstraintMesh" value="true">Draw Mesh

<div id="googleMap"></div>

<script type="text/javascript">
			var mapOptions = {
				center: {lat: 51.5074, lng: 0.1278},
				zoom: 11
			};

			var yellow_dot = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
			var green_dot =  'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
			var red_dot = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
		    var blue_dot = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
		    var purple_dot = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';

		    var black = '#000000';
            var blue = '#0000FF';
            var red = '#FF0000';
            var green = '#00FF00';
            var pink = '#FF00FF';

			var generic_image = new google.maps.MarkerImage(
			    "static/cartoon.png",
			    null, /* size is determined at runtime */
			    null, /* origin is 0,0 */
			    null, /* anchor is bottom center of the scaled image */
				new google.maps.Size(40, 60));

			var map;
			var aggregateNodesOption = document.getElementById("checkBoxOption");
			var triangulationLabels = document.getElementById("drawTriangulationLabels");
			var triangulationRegions = document.getElementById("drawTriangulationRegions");
			var drawMesh = document.getElementById("drawConstraintMesh");
			var gridSizeSelector = document.getElementById("gridSizeSelector");
            var areaSelector = document.getElementById("areaSelector");
            var sourceSelector = document.getElementById("sourceSelector");
 	        var lineWidthDividerSelector = document.getElementById("lineWidth");
 	        var gridSizeEdgeBundling = document.getElementById("gridSizeEdgeBundling");
 	        var angularDifferenceThreshold = document.getElementById("angulardifferenceThreshold");

            var nodes;
            var edges;
            var trips;

			function initialize() {
				map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
			}

			function bundleEdges(){
   		    	var selectedGridSize = gridSizeSelector.options[gridSizeSelector.selectedIndex].value;
       			var selectedArea = areaSelector.options[areaSelector.selectedIndex].value;
       			var selectedSource = sourceSelector.options[sourceSelector.selectedIndex].value;
       			var selectedGridSizeEdgeBundling = gridSizeEdgeBundling.value;
       			var selectedThreshold = angularDifferenceThreshold.value;

                var drawLabelsOption = triangulationLabels.checked;
			    var drawTrigRegionsOption = triangulationRegions.checked;
			    var drawMeshOption = drawMesh.checked;

				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/tweet/trip/edgeBundle?area=" + selectedArea +"&numGrids=" + selectedGridSize +"&numGridsEdgeBundling=" +selectedGridSizeEdgeBundling +"&angularDifferenceThreshold=" + selectedThreshold +"&source=" + selectedSource, true);
				xhr.onreadystatechange = function () {
					if(xhr.readyState == 4 && xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);

                        //draw graph
                        nodes = result.nodeMap
                        edges = result.edges;
					    drawBundledEdge(blue);

                        //draw mesh
					    if(drawMeshOption){
                            var constraintEdges = result.constrainedEdgeList;
                            for (var i = 0; i< constraintEdges.length; i++){

                                var oneConstraintEdge = constraintEdges[i];

                                var lat1 = oneConstraintEdge.from.centerLocation.latitude;
                                var lng1 = oneConstraintEdge.from.centerLocation.longitude;
                                var lat2 = oneConstraintEdge.to.centerLocation.latitude;
                                var lng2 = oneConstraintEdge.to.centerLocation.longitude;

                                var pathCoords = [
                                    {lat: lat1, lng: lng1},
                                    {lat: lat2, lng: lng2}
                                ];

                                drawOneLine(pathCoords, pink, 0.7, 10);

                                var pos = new google.maps.LatLng(oneConstraintEdge.subNodes[0].centerLocation.latitude, oneConstraintEdge.subNodes[0].centerLocation.longitude);
                                var label = oneConstraintEdge.subNodes[0].id;
                                addMarker(pos, label, blue_dot);
                            }
					    }

                        var regions = result.regionGridList;
                        for(var i = 0; i< regions.length; i++){

                            var region = regions[i];

                            if (drawLabelsOption){
                                var pos = new google.maps.LatLng(region.midPoint.latitude, region.midPoint.longitude);
                                var label = i+":"+ region.averageDominantAngle;
                                addMarker(pos, label, green_dot);

                                var pos = new google.maps.LatLng(region.minus90Intersection.y, region.minus90Intersection.x);
                                var label = i+":-"
                                addMarker(pos, label, purple_dot);

                                var pos = new google.maps.LatLng(region.plus90Intersection.y, region.plus90Intersection.x);
                                var label = i+":+";
                                addMarker(pos, label, purple_dot);
                            }


                            var color;
                            var mod =  i % 5;

                            if (mod == 0) {color =black;}
                                else if (mod ==1) {color = red;}
                                    else if (mod==2) {color = green;}
                                        else if (mod==3) {color =blue;}
                                            else {color =pink;}

                            var gridsInRegion = region.grids;

                            if (drawTrigRegionsOption){
                                for (var j = 0; j< gridsInRegion.length; j++){

                                var bb = gridsInRegion[j].boundingBox;
                                var midPoint = gridsInRegion[j].midPoint;
                                var angle = gridsInRegion[j].dominantAngle

                                    var lat1 = bb.northWest.latitude;
                                    var lng1 = bb.northWest.longitude;
                                    var lat2 = bb.northEast.latitude;
                                    var lng2 = bb.northEast.longitude;
                                    var lat3 = bb.southEast.latitude;
                                    var lng3 = bb.southEast.longitude;
                                    var lat4 = bb.southWest.latitude;
                                    var lng4 = bb.southWest.longitude;

                                    var boxCoords = [
                                        {lat: lat1, lng: lng1},
                                        {lat: lat2, lng: lng2},
                                        {lat: lat3, lng: lng3},
                                        {lat: lat4, lng: lng4},
                                        {lat: lat1, lng: lng1}
                                    ];

                                    drawOneLine(boxCoords, color, 1,  2);

                                    var position = new google.maps.LatLng(midPoint.latitude, midPoint.longitude);
                                    var label = i + ":" + j +":"+ angle;

                                    addMarker(position,label, yellow_dot);
                                }
                            }

                         }
                    }
                }
  				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.send("")
			}

			function addMarker(position, label, icon){
			    var marker = new google.maps.Marker({
                    position: position,
                    label: label,
                    icon: icon,
                    map: map
                });
			}

			function loadGrids() {
			    var selectedGridSize = gridSizeSelector.options[gridSizeSelector.selectedIndex].value;
			    var selectedArea = areaSelector.options[areaSelector.selectedIndex].value;

				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/grids?area=" + selectedArea +"&numGrids=" + selectedGridSize , true);
				xhr.onreadystatechange = function () {
					if(xhr.readyState == 4 && xhr.status == 200) {
						var grids = JSON.parse(xhr.responseText);

						for (var i = 0; i< grids.length; i++){

                            var mod = i % 2;
                            var color ;
                            if (mod ==0){color = black;} else {color = blue;}

                            var bb = grids[i].boundingBox;

						    var lat1 = bb.northWest.latitude;
						    var lng1 = bb.northWest.longitude;
						    var lat2 = bb.northEast.latitude;
						    var lng2 = bb.northEast.longitude;
						    var lat3 = bb.southEast.latitude;
						    var lng3 = bb.southEast.longitude;
						    var lat4 = bb.southWest.latitude;
						    var lng4 = bb.southWest.longitude;

						    var boxCoords = [
                                {lat: lat1, lng: lng1},
                                {lat: lat2, lng: lng2},
                                {lat: lat3, lng: lng3},
                                {lat: lat4, lng: lng4},
                                {lat: lat1, lng: lng1}
                            ];

                            drawOneLine(boxCoords, color, 1,  2);
						}
					}
				}
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.send("")
			}

			function loadGridArray() {
			    var selectedGridSize = gridSizeSelector.options[gridSizeSelector.selectedIndex].value;
			    var selectedArea = areaSelector.options[areaSelector.selectedIndex].value;

				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/gridsArray?area=" + selectedArea +"&numGrids=" + selectedGridSize , true);
				xhr.onreadystatechange = function () {
					if(xhr.readyState == 4 && xhr.status == 200) {
						var grids = JSON.parse(xhr.responseText);

						for (var row = 0; row< selectedGridSize; row++){

						    for ( var col = 0; col< selectedGridSize; col++){

						    var mod = (row + col) % 2;
						    var color;

                            if (mod ==0){color =black;} else {color = blue;}

                            var bb = grids[row][col].boundingBox;

                            var lat1 = bb.northWest.latitude;
						    var lng1 = bb.northWest.longitude;
						    var lat2 = bb.northEast.latitude;
						    var lng2 = bb.northEast.longitude;
						    var lat3 = bb.southEast.latitude;
						    var lng3 = bb.southEast.longitude;
						    var lat4 = bb.southWest.latitude;
						    var lng4 = bb.southWest.longitude;

						    var boxCoords = [
                                {lat: lat1, lng: lng1},
                                {lat: lat2, lng: lng2},
                                {lat: lat3, lng: lng3},
                                {lat: lat4, lng: lng4},
                                {lat: lat1, lng: lng1}
                            ];

                            drawOneLine(boxCoords, color, 1,  2);

						    }
						}
					}
				}
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.send("")
			}

			function loadTripDataAndDraw() {
			    var aggregate = aggregateNodesOption.checked;
		    	var selectedGridSize = gridSizeSelector.options[gridSizeSelector.selectedIndex].value;
       			var selectedArea = areaSelector.options[areaSelector.selectedIndex].value;
       			var selectedSource = sourceSelector.options[sourceSelector.selectedIndex].value;

				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/tweet/trip?aggregateNodes=" + aggregate + "&area=" + selectedArea +"&numGrids=" + selectedGridSize +"&source="+selectedSource, true);
				xhr.onreadystatechange = function () {

					if(xhr.readyState == 4 && xhr.status == 200) {

						var response = JSON.parse(xhr.responseText);

					    if(!aggregate){
					        trips = response;
                            drawTrips();
					    }else {
					        nodes = response.nodeMap;
					        edges = response.edges;
					        drawGraph(red);
					    }
					}
				}
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.send("")
			}

			function redrawTrips(){
			    var aggregate = aggregateNodesOption.checked;

			    if (aggregate){
			        if (edges==null){
			            alert("No graph data loaded");
			        }else {
			            initialize();
			            drawGraph(red);
			        }
			    }else {
			        if(trips==null){
                        alert("No trip data loaded!");
			        }else {
			            initialize();
			            drawTrips();
			        }
			    }
			}

			function drawTrips(){
			    for (var i = 0; i< trips.length; i++){

                    var lat1 = trips[i].startPoint.latitude;
                    var lng1 = trips[i].startPoint.longitude;
                    var lat2 = trips[i].endPoint.latitude;
                    var lng2 = trips[i].endPoint.longitude;

                    var pathCoords = [
                        {lat: lat1, lng: lng1},
                        {lat: lat2, lng: lng2}
                    ];

                    drawOneLine(pathCoords, red, 0.7, 1);
                }
			}

			function drawBundledEdge(color){
			    var lineWidthDivider = lineWidthDividerSelector.value;

                for (var i = 0; i< edges.length; i++){
                    var edge = edges[i];
                    var from = nodes[edge.nodeIdFrom];
                    var to =  nodes[edge.nodeIdTo];

                    var lat1 = from.centerLocation.latitude;
                    var lng1 = from.centerLocation.longitude;
                    var lat2 = to.centerLocation.latitude;
                    var lng2 = to.centerLocation.longitude;

                    var pathCoords = [
                        {lat: lat1, lng: lng1},
                        {lat: lat2, lng: lng2}
                    ];

                    drawOneLine(pathCoords, color, 0.7, edge.weight/lineWidthDivider);
                }
			}

			function drawGraph(color){
			    var lineWidthDivider = lineWidthDividerSelector.value;

                for (var i = 0; i< edges.length; i++){
                    var edge = edges[i];
                    var from = nodes[edge.nodeIdFrom];
                    var to = nodes[edge.nodeIdTo];

                    if (from.grid==null) {
                        color=blue;
                        point1=from.centerLocation;
                    }else {
                        point1=from.grid.midPoint;
                    }

                    if (to.grid==null){
                        point2=to.centerLocation;
                    }else {
                        point2=to.grid.midPoint;
                    }

                    var lat1 = point1.latitude;
                    var lng1 = point1.longitude;
                    var lat2 = point2.latitude;
                    var lng2 = point2.longitude;

                    var pathCoords = [
                        {lat: lat1, lng: lng1},
                        {lat: lat2, lng: lng2}
                    ];

                    drawOneLine(pathCoords, color, 0.7, (edge.weight/lineWidthDivider));
                }
			}

			function drawOneLine(path, color, opacity, weight){
                var path = new google.maps.Polyline({
                        path: path,
                        geodesic: true,
                        strokeColor: color ,
                        strokeOpacity: opacity,
                        strokeWeight: weight
                        });

                path.setMap(map);
			}

		    google.maps.event.addDomListener(window, 'load', initialize)



</script>
</body>
</html>